/* Onboarding */

.onboarding {
    position: relative;
    align-items: center;
    text-align: center;
}

.onboarding-form {
    display: flex;
    flex-direction: column;
}

.onboarding label {
    padding-right: 1%;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 400;
    color: whitesmoke;
}

.onboarding input {
    padding-left: 0.5rem;
    margin-right: 1%;
    font-family: Poppins;
    font-weight: 200;
    font-size: 2rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.onboarding input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-onboarding-off {
    font-family: Poppins;
    font-size: 1.563rem;
    color: gainsboro;
    font-weight: 200;
    background-color: inherit;
    border-color: #9cd484;
    border-style: none;
}

.btn-onboarding-on {
    font-family: Poppins;
    font-size: 1.563rem;
    color: white;
    font-weight: 400;
    background-color: inherit;
    border-color: #9cd484;
    border-style: none;
    animation-name: start-button;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.btn-onboarding-on:hover {
    cursor: pointer;
}

.set-tax {
    margin-top: 8rem;
}

.set-tax-input {
    border-radius: 5px;
    width: 15rem;
    font-size: 1.2rem !important;
    background-color: #9cd484;
}

.set-tax-input:focus {
    background-color: whitesmoke;
}

.set-tax-input::placeholder {
    font-size: 1rem !important;
    color: rgb(126, 126, 126);
}

.set-tax-label {
    font-size: 1.4rem !important;
    color: #518f36 !important;
}