* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Background constant page */

.background {
    min-height: 100vh;
    height: 100%;
    background-color: #9cd484;
}

.title-section {
    padding-top: 2rem;
    text-align: center;
}

.title-section h3 {
    font-family: Special Elite;
    font-size: 1.938rem;
    color: #518f36;
    font-weight: 400;
}

.title-section h1 {
    font-family: Rye;
    font-size: 4.375rem;
    color: #518f36;
    font-weight: 400;
}


/* Landing page */

.landing {
    margin: 10rem auto;
    text-align: center;
    background-color: #9cd484;
    z-index: 1;
}

@keyframes start-button {
    from {
        color: transparent;
    }
    to {
        color: black;
    }
}

.btn-start {
    font-family: Special Elite;
    font-size: 1.563rem;
    color: black;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
    animation-name: start-button;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.btn-start-static {
    font-family: Special Elite;
    font-size: 1.563rem;
    color: black;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
}

.btn-start:hover,
.btn-start-static:hover {
    cursor: pointer;
}

.continue-game {
    margin-top: 5rem;
}


/* Onboarding */

.onboarding {
    margin: 8rem;
    position: relative;
    align-items: center;
    text-align: center;
}

.onboarding-form {
    display: flex;
    flex-direction: column;
}

.onboarding label {
    padding-right: 1%;
    font-family: Special Elite;
    font-size: 1.563rem;
    font-weight: 400;
    color: black;
}

.onboarding input {
    margin-right: 1%;
    font-family: Special Elite;
    font-size: 1.563rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.onboarding input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-onboarding-off {
    font-family: Special Elite;
    font-size: 1.563rem;
    color: gray;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
}

.btn-onboarding-on {
    font-family: Special Elite;
    font-size: 1.563rem;
    color: black;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
    animation-name: start-button;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.btn-onboarding-on:hover {
    cursor: pointer;
}

.set-tax {
    margin-top: 8rem;
}

.set-tax-input {
    border-radius: 5px;
    width: 15rem;
    font-size: 1.2rem !important;
    background-color: #9cd484;
}

.set-tax-input:focus {
    background-color: white;
}

.set-tax-input::placeholder {
    font-size: 1rem !important;
    color: rgb(126, 126, 126);
}

.set-tax-label {
    font-size: 1.4rem !important;
    color: #518f36 !important;
}


/* The Table */

.table {
    margin: auto 2rem;
    align-items: center;
    font-size: 1.2rem;
}

.btn-add-player {
    font-size: 1.938rem !important;
    color: black;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
    padding-bottom: 1.5rem;
}

.btn-add-player:hover {
    cursor: pointer;
    color: dodgerblue;
}

.btn-add-player-disabled {
    font-size: 1.938rem !important;
    color: gray;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
}

.warning-popup {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: red;
    font-family: Rye;
    font-size: 1.4rem;
}


/* navbar */

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
}

.chips,
.buys {
    color: #518f36;
}

.buys {
    margin-left: 1rem;
}

.navbar-container .end {
    text-align: end;
    justify-content: flex-end;
}

.navbar-section {
    font-family: Rye;
    /* font-size: 1rem; */
    width: 50%;
    display: flex;
    flex-direction: row;
}

.nav-item {
    width: 27%;
}

.btn-end-game-off {
    font-family: Special Elite;
    font-size: 1.2rem;
    color: gray;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
}

.btn-end-game-on {
    font-family: Special Elite;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
    animation-name: end-game;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.btn-end-game-on:hover {
    cursor: pointer;
}

@keyframes end-game {
    from {
        color: transparent;
    }
    to {
        color: black;
    }
}


/* Set Player Form */

.form-submit-player {
    margin: 1rem auto;
}

.input-submit-player {
    font-family: Special Elite;
    font-size: 1.2rem;
    height: 3rem;
    border: 1px solid #ccc;
}

.btn-submit-player-on {
    font-family: Special Elite;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border: none;
}

.btn-submit-player-on:hover {
    color: dodgerblue;
    cursor: pointer;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 10%;
    padding-right: 0.3%;
}

.btn-submit-player-off {
    font-family: Special Elite;
    font-size: 1.2rem;
    color: gray;
    font-weight: 400;
    background-color: #9cd484;
    border-color: #9cd484;
    border-style: none;
}


/* Player */

.player-row,
.player-row-grayedOut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 5rem;
    padding: 2rem;
}

.player-row .poker-chip-icons {
    justify-self: flex-start;
}

.player-row:hover {
    border-style: outset;
    border-width: 1px;
    border-radius: 5px;
    animation-name: player-focus;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes player-focus {
    from {
        background-color: transparent;
    }
    to {
        background-color: #e4fada;
    }
}

.row-item:last-child {
    width: 10%;
}

.row-item {
    width: 20%;
    font-family: Rye;
    font-size: 1.2rem;
    font-weight: 400;
}

.buy-ins {
    width: 15%;
}

.row-item-chips {
    width: 15%;
}

.row-item-undo {
    padding-left: 1rem;
    width: 5%;
}

.row-item-grayedOut {
    width: 20%;
    font-family: Rye;
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
}

.player-name {
    width: 25%;
    font-family: Special Elite;
    font-size: 1.563rem;
    font-weight: 400;
}

.btn-rebuy,
.btn-undo,
.btn-edit-final {
    height: 1.5rem;
    width: 2rem;
    font-family: Special Elite;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
    margin-left: 2rem;
    background-color: inherit;
    border: none;
}

.btn-undo {
    margin-left: 1rem;
    font-size: 1rem;
    opacity: 90%;
}

.btn-rebuy:hover,
.btn-undo:hover,
.btn-edit-final:hover {
    color: dodgerblue;
    cursor: pointer;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom-right-radius: 5px;
    padding-right: 0.3%;
}

.tooltip-rebuy,
.tooltip-undo,
.tooltip-edit-final {
    font-size: 1rem;
    top: -3.5rem;
    width: 5rem;
    margin-left: -1rem;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem 0.5rem;
    position: relative;
    z-index: 1;
}

.btn-rebuy:hover .tooltip-rebuy,
.btn-undo:hover .tooltip-undo,
.btn-edit-final:hover .tooltip-edit-final {
    animation-name: tooltip-visibility;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    visibility: visible;
}

@keyframes tooltip-visibility {
    from {
        background-color: transparent;
        color: transparent;
    }
    to {
        background-color: black;
        color: #fff;
    }
}

.btn-checkout {
    width: 100%;
    font-family: Special Elite;
    font-size: 1.2rem;
    font-weight: 400;
}

.final-amount-input {
    width: 75%;
}

.poker-chip-icons {
    display: inline-block;
    background-image: url("./images/red-chip.png");
    background-size: cover;
    width: 1.75rem;
    height: 1.75rem;
    margin: auto 0.2rem;
    animation-name: chip-icon-animation;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.poker-chip-icons-transparent {
    opacity: 40%;
    display: inline-block;
    background-image: url("./images/red-chip.png");
    background-size: cover;
    width: 1.75rem;
    height: 1.75rem;
    margin: auto 0.2rem;
}

@keyframes chip-icon-animation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}


/* Checkout Pop-Up */

.form-popup {
    width: 20% !important;
    display: flex;
    flex-direction: row;
    /* background-color: #eaeaea;
  z-index: 99;
  border-style: solid;
  border-width: thin;
  border-color: black; */
}

.form-popup-form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.final-amount-input {
    padding-left: 0.1rem;
    width: 75%;
    height: 2rem;
    border-radius: 5px;
}

.btns-popup {
    display: flex;
    flex-direction: row;
    margin-left: 0.1rem;
}

.btn-submit {
    border: none;
    font-size: 2rem;
    background-color: transparent;
    margin-left: 0.1rem;
}

.btn-submit:enabled .check-icon:hover {
    color: rgb(58, 240, 58);
    cursor: pointer;
}

.times-icon:hover {
    color: rgb(255, 37, 37);
    cursor: pointer;
}

.checkboxes {
    margin-top: 0.25rem;
}

.tax-label-text {
    margin-left: 0.25rem;
    font-size: 0.85rem;
}

.tax-checkboxes {
    display: flex;
    flex-direction: row;
}

.collector {
    margin-left: 1rem;
}


/* End-Game */

.end-game {
    margin: auto 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.end-game-header {
    margin-top: 3rem;
}

.end-game-title {
    font-family: Rye;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.end-game-sub-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: Rye;
    font-size: 2rem;
    font-weight: 400;
}


/* Results List */

.result-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 25rem 0rem 25rem;
    padding: 1rem;
}

.result-item h1 {
    font-family: Special Elite;
}

.balance-coins {
    display: flex;
    flex-direction: row;
    justify-content: start;
}


/*.balance-coins .coins {
    margin-top: 0.8rem;
}*/


/* Transactions */

.transaction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 20rem;
    padding: 1rem;
}

.transaction-row:hover {
    border-style: outset;
    border-width: 1px;
    border-radius: 5px;
    animation-name: player-focus;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.trans-row-item h1 {
    margin-top: 2rem;
    font-family: Special Elite;
    font-size: 2rem;
}

.trans-row-item .hand {
    margin-top: 1rem;
}

.trans-money {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0.6rem;
}

.trans-money h1 {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.trans-money .coins {
    margin-top: 1.5rem;
}


/* Finish game */

.finish-game {
    font-family: Special Elite;
    font-size: 2.5rem;
    color: black;
    text-align: end;
    margin-right: 3rem;
    padding-bottom: 3rem;
}

.finish-game a {
    text-decoration: none;
    animation-name: start-button;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}