* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background constant page */

.background {
  height: 100vh;
  background-color: #9cd484;
}

.title-section {
  padding-top: 2rem;
  text-align: center;
}

.title-section h3 {
  font-family: Special Elite;
  font-size: 1.938rem;
  color: #518f36;
  font-weight: 400;
}
.title-section h1 {
  font-family:  Rye;
  font-size: 4.375rem;
  color: #518f36;
  font-weight: 400;
}


/* Landing page */

.landing {
  margin: 10rem auto;
  text-align: center;
  background-color: #9cd484;
  z-index: 1;
}
@keyframes start-button {
  from {color: transparent;}
  to {color: black;}
}
.btn-start {
  font-family: Special Elite;
  font-size: 1.563rem;
  color: black;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border-style: none;
  animation-name: start-button;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.btn-start:hover {
  cursor: pointer;
}

/* Onboarding */

.onboarding {
  margin: 8rem;
  position: relative;
  align-items: center;
  text-align: center;
}

.onboarding label {
  padding-right: 1%;
  font-family: Special Elite;
  font-size: 1.563rem;
  font-weight: 400;
  color: black;
}

.onboarding input {
  margin-right: 1%;
  font-family: Special Elite;
  font-size: 1.563rem;
  height: 3rem;
  border: 1px solid #ccc;
}

.onboarding input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-onboarding-off {
  font-family: Special Elite;
  font-size: 1.563rem;
  color: gray;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border-style: none;
}

.btn-onboarding-on {
  font-family: Special Elite;
  font-size: 1.563rem;
  color: black;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border-style: none;
  animation-name: start-button;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.btn-onboarding-on:hover {
  cursor: pointer;
}

/* The Table */

.table {
  margin: auto 2rem;
  align-items: center;
  font-size: 1.2rem;
}

.btn-add-player {
  font-size: 1.938rem !important;
  color: black;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border-style: none;
}

.btn-add-player-disabled {
  font-size: 1.938rem !important;;
  color: gray;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border-style: none;
}

.btn-add-player:hover {
  cursor: pointer;
  color: dodgerblue;
}

/* navbar */

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
}

.chips, .buys {
  color: #518f36;
}

.navbar-container .end {
  text-align: end;
  justify-content: flex-end;
}

.navbar-section {
  font-family:  Rye;
  /* font-size: 1rem; */
  width: 50%;
  display: flex;
  flex-direction: row;
}

.nav-item {
  width: 25%;
}

.btn-end-game {
  font-family:  Special Elite;;
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border-style: none;
}

/* Set Player Form */

.form-submit-player {
  margin: 1rem auto;
}

.input-submit-player {
  font-family: Special Elite;
  font-size: 1.2rem;
  height: 3rem;
  border: 1px solid #ccc;
}

.btn-submit-player-on {
  font-family: Special Elite;
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border: none;
}

.btn-submit-player-on:hover {
  color: dodgerblue;
  cursor: pointer;
  border-bottom: 3px solid gray;
  border-right: 2px solid gray;
  border-bottom-right-radius: 10%;
  padding-right: 0.3%;
}

.btn-submit-player-off {
  font-family: Special Elite;
  font-size: 1.2rem;
  color: gray;
  font-weight: 400;
  background-color: #9cd484;
  border-color: #9cd484;
  border-style: none;
}

/* Player */

.player-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.poker-chip-icons {
  background-image: 'images/chip-icon.jpg';
}
