* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* container */

$backgroundColorMain: #83bd75;
$backgroundColorNav: #4e944f;
.container {
    background-color: $backgroundColorMain;
}

.main-section {
    background-size: 1100px 650px;
    background-position: center;
    background-repeat: no-repeat;
}


/* Background constant page */

.background {
    background-color: $backgroundColorMain;
}

.page-section {
    min-height: 100vh;
    height: 100%;
    margin: 6rem 6rem 0 6rem;
}

.title-section {
    display: flex;
    justify-content: start;
    background-color: $backgroundColorNav;
    padding-top: 2rem;
    text-align: center;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title-section h2 {
    background-color: $backgroundColorNav;
    font-family: Poppins;
    font-size: 3rem;
    color: whitesmoke;
    font-weight: 400;
}


/* Checkout Pop-Up */

.form-popup {
    width: 20% !important;
    display: flex;
    flex-direction: row;
    /* background-color: #eaeaea;
  z-index: 99;
  border-style: solid;
  border-width: thin;
  border-color: black; */
}

.form-popup-edit {
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.form-popup-form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.final-amount-input {
    padding-left: 0.1rem;
    width: 75%;
    height: 2rem;
    border-radius: 5px;
}

.btns-popup {
    display: flex;
    flex-direction: row;
    margin-left: 0.1rem;
}

.btn-submit {
    border: none;
    font-size: 2rem;
    background-color: transparent;
    margin-left: 0.1rem;
}

.btn-submit:enabled .check-icon:hover {
    color: rgb(58, 240, 58);
    cursor: pointer;
}

.times-icon:hover {
    color: rgb(255, 37, 37);
    cursor: pointer;
}

.checkboxes {
    margin-top: 0.25rem;
}

.tax-label-text {
    margin-left: 0.25rem;
    font-size: 0.85rem;
}

.tax-checkboxes {
    display: flex;
    flex-direction: row;
}

.collector {
    margin-left: 1rem;
}


/* End-Game */

.end-game {
    margin: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.end-game-header {
    display: flex;
    position: fixed;
    top: 15rem;
    right: 2rem;
}

.btn-clipboard {
    height: 2rem;
    width: 18rem;
    font-family: Eczar;
    font-size: 1.2rem;
    font-weight: 400;
}

.btn-clipboard .end-game-content {
    margin-top: 3rem;
}

.end-game-title {
    margin-top: 1rem;
    font-family: Rye;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.end-game-sub-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: Rye;
    font-size: 2rem;
    font-weight: 400;
}


/* Results List */

.result-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 25rem 0rem 25rem;
    padding: 1rem;
}

.result-item h1 {
    font-family: Eczar;
}

.balance-coins {
    display: flex;
    flex-direction: row;
    justify-content: start;
}


/*.balance-coins .coins {
    margin-top: 0.8rem;
}*/


/* Transactions */

.transaction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 20rem;
    padding: 1rem;
}

.transaction-row:hover {
    border-style: outset;
    border-width: 1px;
    border-radius: 5px;
    animation-name: player-focus;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.trans-row-item h1 {
    margin-top: 2rem;
    font-family: Eczar;
    font-size: 2rem;
}

.trans-row-item .hand {
    margin-top: 1rem;
}

.trans-money {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0.6rem;
}

.trans-money h1 {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.trans-money .coins {
    margin-top: 1.5rem;
}


/* Finish game */

.finish-game {
    font-family: Eczar;
    font-size: 2.5rem;
    color: black;
    text-align: end;
    margin-right: 3rem;
    padding-bottom: 3rem;
}

.finish-game a {
    text-decoration: none;
    animation-name: start-button;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}